.panel {
  border-bottom: 0.5px solid $color-light-grey-ss;
  background: #FFF;
}

.panel-title {
  display: flex;
  padding: 32px 0;
  align-items: center;
  color: $color-primary-dark;

  &__icon {
    font-size: 40px;
    margin-right: 8px;
  }

  &__text {
    flex: 1;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__desc {
    font-size: 14px;
  }
}

.panel-tips {
  border-radius: 10px;
  padding: 32px;
  background: $color-primary-ss;
  color: $color-primary-dark;
  text-align: center;
  margin-bottom: 32px;

  &__icon {
    font-size: 36px;
    text-align: center;
  }

  &__text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.7;
  }

  .timesguide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 180px;
    border-radius: 5px;
    border: 1px solid $color-primary-dark;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
  }
}

.panels-cell {
  .panel {
    text-align: center;

    &__title {
      color: $color-light-grey;
      font-weight: 600;
      font-size: 18px;
    }

    &__text {
      font-size: 25px;
      font-weight: 600;
      margin-top: 8px;
      color: $color-primary-dark;
    }

    .ds-rate {
      margin-top: 8px;
      margin-bottom: 32px;
    }

    .user-item {
      margin-top: 8px;
      margin-bottom: 32px;
    }
  }

  .panel-cell {
    padding: 32px 32px;
    border-top: 0.5px solid $color-light-grey-ss;
    border-bottom: none;
    align-items: center;
  }
}

.panel-home {
  flex: 1;
  margin-bottom: 32px;

  &__title {
    font-weight: 600;
    color: $color-primary-dark;
    font-size: 32px;
    margin-bottom: 32px;
    padding: 0 32px;
    line-height: 1;
  }

  &__btn {
    position: absolute;
  }

  .user-scroll {
    .user-item {
      &__avatar {
        border: none;
        // border-color: $color-primary;
      }

      &__name {
        display: none;
      }
    }
  }
}
